
a {
  color: #000000;
}
a:hover {
  color: gray;
}
.clear-layout{
  clear: both;
}

img {
  max-width: 100%;
}

/* WOOCOMMERCE */
.woocommerce-result-count,
.woocommerce-ordering,
.woocommerce-breadcrumb,
.woocommerce-tabs,
.product_meta {
  display: none;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
  max-width: 100%;
}

.woocommerce-info {
  border-top-color: gray;
}
.woocommerce button.button.alt.disabled{
    background: transparent;
    color: #000000;
}


.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  width: 29.5%;
}
/** Categories WooCommerce **/

.woocommerce-products-header h1 {
  text-align: center;
  text-transform: uppercase;
}
.woocommerce-loop-product__title {
 float: left;
}
.price {
  float: left;
  margin-left: 15px;
}
.woocommerce ul.products li.product .price {
  color: gray;
  padding-top: 5px;
  font-size: 10px;
}

.woocommerce-Price-amount.amount {
  font-size: 15px;
}

/** Single Produit **/

.azalyne-produit-content {
  color: gray;
}
.woocommerce div.product p.price {
  float: none;
  color: gray;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background: transparent;
  color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #000000;
  border-radius: 0;
  padding: 5px;
}
.woocommerce div.product div.images img {
  margin-bottom: 5px;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 24%;
  margin-right: 1%;
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
  margin-left: 0;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  width: 23.5%;
  margin-left: 10px;
}

.woocommerce table.shop_table {
  border: 0;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
  width: 100px;
}

.woocommerce table.shop_table td {
  padding-top: 20px;
  padding-bottom: 20px;
  border-color: #000000;
}

.woocommerce table.shop_table tr:nth-last-child(1) td {
  border-color: transparent;
}
.woocommerce .cart .button, .woocommerce .cart input.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  background: #000000;
  color: #ffffff!important;
  font-weight: 100;
  border: 0;
  display: inline-block;
  border-radius: 0;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background-color: gray!important;
}
.woocommerce-cart-form {
   float: left;
   width: 80%;
}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
  float: right;
  width: 20%;
}

.woocommerce table.shop_table th {
  font-weight: 100;
  text-transform: uppercase;
}

.cart-collaterals .cart_totals h2 {
  font-size: 17px;
  font-weight: 100;
  text-transform: uppercase;

}
.cart-collaterals .cart_totals table {
  border-top: 1px solid #000000;
  border-radius: 0;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea,
.select2-container--default .select2-selection--single {
  border: 1px solid #000000;
}
