.atelier-content {
  display:flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.atelier-img-left {
  width: 49%;
}
.atelier-img-left img {
  width: 100%;
}
.atelier-img-left>img {
  max-width: 100%;
}

.atelier-text {
  width: 49%;
}

.atelier-text>img{
  width: 100%;
}
.ateler-img-bottom {
  width: 100%;
}
